<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Sou Desenvolvedor Web Full Stack, sem experiência, capaz de ter uma ótima
        comunicação, trabalho em equipe e persistência para resoluções de
        problemas, possuo conhecimentos em Java, Banco de dados relacionais,
        JavaScript, NodeJS, Angular e React possuo alguns projetos no meu GitHub. Possuo um
        perfil de autoconfiança que me permite sair da zona de conforto e buscar
        sempre algo a mais. 
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li>
          <i class="fa-solid fa-envelope"></i> vitormartinsxd@outlook.com/li>
        </li>
        <li><i class="fa-solid fa-phone"></i> (11) 95843-1797</li>
        <li><i class="fa-brands fa-whatsapp"></i> (11) 95843-1797</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
